# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# TypeScript build output
dist/
*.js
*.js.map

# Azure Functions Core Tools

azure-functions-core-tools/